body {
  margin: 0;
  background-color: #282C28 !important;
}

html, button, input {
  font-family: 'Roboto', sans-serif;
}

.MuiLinearProgress-barColorPrimary.MuiLinearProgress-barColorPrimary {
  background-color:#FFE81F;
}

.MuiLinearProgress-colorPrimary.MuiLinearProgress-colorPrimary {
  background-color: rgb(255, 232, 31, 0.3);
}